* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: maroon;
  color: wheat;
}
header h1 {
  margin: 50px 0;
  text-align: center;
  font-size: 40px;
}
.quote,
.author {
  padding: 30px 0;
  text-align: center;
}
.author {
  font-size: 26px;
}
.buttons {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.trigger {
  width: 400px;
  height: 50px;
  align-self: center;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 20px;
}

.tweet {
  margin-top: 40px;
  align-self: center;
  text-align: center;
  width: 400px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid gray;
}
